.footer{
  width: 1894px;
  background-color: #ecd988;
  padding: 5px 5px;
  p{
    text-align: center;
    font-size: 30px;
  }

  .active{
    color: #ce4ba0;
    text-decoration: none;
  }
  .default{
    text-decoration: none;
    color: black;
  }
  li{
    list-style: none;
    display:inline-block;
    margin: 5px;
    font-size: 25px;
  }
  a{
    text-decoration: none;
  }
}
