<div class="footer">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>
  </ul>










<!--<div class="footer">

  <ul>
    <ng-container *ngFor="let link of links">
      <li (click)="onLinkClick(link.label)">
        <a
           [ngClass]="{'default': !link.active, 'active': link.active}">
          {{link.label}}
        </a>
      </li>
    </ng-container>
  </ul>-->

  <p>©Copy information component</p>
</div>
